<h1>4.1.1 Basic Lookup, Scopes and Nested Keys</h1>

<p><%= I18n.t :message %></p>
<p><%= I18n.t 'message' %></p>


<p><%= I18n.t 'activerecord.errors.messages.record_invalid' %></p>
<p><%= I18n.t 'errors.messages.record_invalid', scope: :activerecord %></p>
<p><%= I18n.t :record_invalid, scope: 'activerecord.errors.messages' %></p>
<p><%= I18n.t :record_invalid, scope: [:activerecord, :errors, :messages] %></p>

<h1>4.1.2 Defaults</h1>
<p><%= I18n.t :missing, default: 'Not here' %></p>
<p><%= I18n.t :missing, default: [:also_missing, 'Not here'] %></p>

<h1>4.1.3 Bulk and Namespace Lookup</h1>
<p><%= (I18n.t [:odd, :even], scope: 'errors.messages') %></p>
<p><%= I18n.t [:title, :sub], scope: 'page.sub_page' %></p>
<p><%= I18n.t :title, scope: 'page.sub_page' %></p>
<p><%= I18n.t 'errors.messages.odd' %></p>
<p><%= I18n.t 'errors.messages.even' %></p>
<p><%= I18n.t 'activerecord.errors.messages' %></p>

<h1>4.1.4 "Lazy" Lookup</h1>
<p><%= t '.title' %></p>
