= form_for(@todo, html: {class: 'form-horizontal'}) do |f|
  - if @todo.errors.any?
    #error_explanation
      %h2
        = pluralize(@todo.errors.count, "error")
        prohibited this todo from being saved:
      %ul
        - @todo.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    = f.label :title, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .field.form-group
    = f.label :notes, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :notes, class: 'form-control'
  .actions.form-group
    .col-sm-offset-2.col-sm-10
      = f.submit
